<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{%url 'drive' %}"
        style="font-weight: bolder;font-family: 'Alfa Slab One', cursive;">Aware <i class='fas fa-ambulance'
            style='color:red;'></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'drive' %}" style="font-weight: bold;">Home</i><span
                        class="sr-only">(current)</span></a>

            </li>

            {% if user.is_admin %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-weight: bolder;">
                    Adminstrator Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="{%url 'drive' %}">Home</a>



                    <a class="dropdown-item" href="#">{{user.username}}</a>

                    <a class="dropdown-item" href="{%url 'hospital' %}">Create Hospital</a>

                    <a class="dropdown-item" href="{% url 'view_hospitals'%}">View Hospitals</a>

                    <a class="dropdown-item" href="{%url 'view_donors' %}">View Donors</a>

                    <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>

                </div>

            </li>

            {% endif %}

            {% if user.is_user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-weight: bolder;">
                    Donor Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="{%url 'drive' %}">Home</a>



                    <a class="dropdown-item" href="#">{{user.username}}</a>

                    <a class="dropdown-item" href="{%url 'donor' %}">Post Donor Details</a>

                    <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>

                </div>

            </li>
            {% endif %}
        </ul>

        <form class="navbar-form">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search For Hospital" name="title" class="mr-3">
                <div class="input-group-btn">
                    <button class="btn btn-outline-danger ml-2" type="submit">Search</button>
                </div>
            </div>

        </form>
    </div>

</nav>